@model Website.Models.StudyTasksModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Study Monitor</h1>
@{
    foreach (var task in Model.StudyTaskModels)
    {
        <p class="body-content">
            @task.Id.ToString(), @task.Name
        </p>
    }
}
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Test</h2>
        <p>
            Not sure if we want to keep this data
        </p>
    </div>
</div>