@model StudyMonitor.ServiceAccess.StudyTaskCollection

@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron" id="taskList">
    <h1>Study Monitor</h1>

    @Website.Views.Helpers.TestHelper.Note("hiasdffasdf")

        @if (Model != null)
        {
            bool hasOpenTask = Model.Any(task => task.IsOpen);
            foreach (var task in Model)
            {

            }

            <p class="body-content">
                <button type="button" id="requestAddTask" onclick="addTask()">Add Task</button>
            </p>
        }
    
</div>

<script>
    function myFunction(taskId) {
        var taskWasOpen = $('#' + taskId + '-button').text() == "Stop";

        // update database
        $.post("@Url.Action("Select", "Home")", { taskId: taskId, taskWasOpen: taskWasOpen });

        // update website client side
        if (taskWasOpen) {
            $.find('button[id$="-button"]').forEach(function (button) { $(button).show(); });
            $('#' + taskId + '-button').text("Start");
        } else {
            $.find('button[id$="-button"]').forEach(function (button) { $(button).hide(); });
            $('#' + taskId + '-button').text("Stop");
            $('#' + taskId + '-button').show();
        }
    }

    function addTask() {
        $form = $('<form id="createForm"></form>');
        $form.append(
            $("<input>",
                {
                    type: 'text',
                    name: 'taskName'
                }
            )
        );
        $form.append(
            $("<input>",
                {
                    type: 'button',
                    value: 'Create Task',
                    onclick: 'createTask()'
                }
            )
        );
        $form.append(
            $("<input>",
                {
                    type: 'hidden',
                    name: 'estimateString',
                    value: '@DateTime.Now'
                }
            )
        );

        $('#taskList').append($form);
        $('#requestAddTask').remove();
    }

    function createTask() {
        taskName = $('#createForm').find('input[name="taskName"]').val();
        if (taskName !== "") {
            var i = $.get("@Url.Action("Add", "Home")",
                { taskName: taskName }, function (data, status, jqXHR) {
                    $('#createForm').remove();
                    $('#taskList').append('<p class="body-content">' + data);
                    $('#taskList').append('<button type="button" id="' + data + '-button" onclick="myFunction(' + data + ')">Start</button></p>');
                    $('#taskList').append('<button type="button" id="requestAddTask" onclick="addTask()">Add Task</button>');
                });
        }
        else {
            alert("Empty task name is not allowed");
        }
    }

    function addTaskView(taskName, taskId, taskIsOpen, anyOtherTaskIsOpen) {

        var hideTaskButton = !task.IsOpen && hasOpenTask;
        var buttonCaption = taskIsOpen ? "Stop" : "Start";
        $('#taskList').append(
        '<p class="body-content">' +
            taskId, taskName +
            '<button type="button" id=' + taskId + '-button" onclick="myFunction(' + taskId + ')" hidden="' + hideTaskButton + '">' + buttonCaption + '</button>' +
         '</p>');
    }
</script>
