@model Website.Models.StudyTasksModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Study Monitor</h1>
@{
    foreach (var task in Model.StudyTaskModels)
    {
        <p class="body-content">
            @task.Id.ToString(), @task.Name
            <button type="button" id="button1" onclick="myFunction(@task.Id)">Click Me!</button>
        </p>
    }
}
</div>

<script>
    function myFunction(taskId) 
    {
        document.getElementById("button1").style.color = "magenta"
        $.get("Select", { data: taskId });
    }
</script>
