@using System.Text
@model StudyMonitor.ServiceAccess.StudyTaskCollection

@{
    ViewBag.Title = "TasksInfo";
}


<head>
    @{

        if (Model != null)
        {
            StringBuilder columnBuilder = new StringBuilder();
            foreach (var task in Model)
            {
                columnBuilder.Append("{ y: " + task.Estimate.Hour + ", label: &#39;" + task.Name + "&#39; },");
            }

            <script type="text/javascript">
                function ownDecode(text) {
                    return $("<textarea/>").html(text).html();
                }

                window.onload = function () {
                    var jsonstring = @HttpUtility.HtmlDecode(columnBuilder.ToString());
                    console.log(jsonstring);
                    var chart = new CanvasJS.Chart("chartContainer", {
                        title: {
                            text: "Basic Column Chart"
                        },

                        data: [
                            {
                                type: "column",
                                dataPoints: [
                                    jsonstring
                                ]
                            }
                        ]
                    });
                    chart.render();
                }
            </script>
            <script src="/Scripts/canvasjs.min.js"></script>
        }
    }
    <title>Tasks Plot</title>
</head>

<body>
<div id="chartContainer" style="height: 400px; width: 100%;"></div>
</body>